<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>

Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

Mid Name: <input type="text" ng-model="midname"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + midname +" "+ lastName }}


</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    
});
</script>

</body>
</html>
